:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color-dark: hsl(151, 52%, 17%);
    --first-color: hsl(14, 98%, 50%);
    --black-color: hsl(0, 0%, 0%);
    --black-color-light: hsl(0, 0%, 40%);
    --white-color: hsl(0, 0%, 95%);
    --title-color: hsl(0, 0%, 0%);
    --text-color: hsl(0, 0%, 35%);
    --text-color-light: hsl(0, 0%, 64%);
    --body-color: hsl(0, 0%, 87%);
    --container-color: hsl(0, 0%, 83%);

    --first-color-winter: hsl(72, 59%, 45%);
    --first-color-alt-winter: hsl(72, 75%, 38%);
    --first-color-dark-winter: hsl(151, 52%, 17%);
    --first-color-darker-winter: hsl(151, 52%, 12%);
    --title-color-winter: hsl(49, 96%, 91%);
    --text-color-winter: hsl(99, 20%, 65%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Bai Jamjuree", sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

.nav-mobile {
    position: fixed;
    bottom: 1.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--body-color);
    width: 88%;
    margin-inline: auto;
    box-shadow: 0 1px 16px hsla(0, 0%, 0%, .12);
    padding: 1rem 1.75rem;
    border-radius: 15px 15px 0px 0px;
    z-index: var(--z-fixed);
}

.dark-theme .nav-mobile{
    box-shadow: 0 1px 12px hsla(0, 0%, 0%, .6);
}

.nav__list-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link-mobile {
    color: var(--black-color-light);
    font-size: 1.5rem;
    transition: color .4s;
}

.nav__link-mobile:hover {
    color: var(--first-color);
}

.dark-theme .nav__link-mobile:hover {
    color: var(--white-color);
}

/*=============== EXPAND LIST ===============*/
.nav__expand {
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    background-color: var(--first-color);
    border-radius: 50%;
    cursor: pointer;
}

.nav__expand-init{
    place-items: center;
    display: grid;
    font-size: 1.5rem;
    background-color: var(--black-color-light);
    color: var(--white-color);
    cursor: pointer;
    width: 32px;
    height: 32px;
    transition: background-color .4s;
}

.nav__expand-icon-init {
    color: var(--white-color);
    transition: transform .4s;
}

.nav__expand-list {
    position: absolute;
    top: -33rem;
    left: 0;
    right: 0;
    background-color: var(--body-color);
    box-shadow: 0 1px 16px hsla(0, 0%, 0%, .12);
    width: max-content;
    margin-inline: auto;
    padding: .5rem 1.5rem;
    border-radius: 5px;
    display: flex;
    column-gap: 2rem;
    z-index: -1;
    overflow: hidden;
    transform: translateY(-7rem) scale(.1);
    transition: transform .5s cubic-bezier(.5, 1.8, .4, .8);
}

.dark-theme .nav__expand-list{
    box-shadow: 0 1px 12px hsla(0, 0%, 0%, .6);
}

.nav__expand-list li {
    transform: translateY(-3rem);
    transition: transform .4s;
}

.nav__expand-list li:nth-child(1) {
    transition-delay: .2s;
}

.nav__expand-list li:nth-child(2) {
    transition-delay: .3s;
}

.nav__expand-list li:nth-child(3) {
    transition-delay: .4s;
}

.nav__expand-link {
    color: var(--black-color-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: color .4s;
}

.nav__expand-link i {
    font-size: 1.5rem;
}

.nav__expand-link span {
    font-size: var(--tiny-font-size);
    font-weight: var(--font-semi-bold);
}

.nav__expand-link:hover {
    color: var(--first-color);
}
.dark-theme .nav__expand-link:hover {
    color: var(--white-color);
}

/* Show list */
.show-list,
.show-list li {
    transform: translateY(0);
}

/* Rotate icon */
.rotate-icon {
    transform: rotate(135deg);
}

/* Active link */
.nav__link-mobile.active-link {
    color: var(--first-color);
}
.dark-theme .active-link{
    color: var(--white-color);
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 780px) {
    .nav-mobile {
        opacity: 0;
    }
}

@media screen and (min-width: 450px) {
    .nav-mobile {
        width: 350px;
    }
}
