.speed-particle {
    position: relative;
    opacity: 1;
    z-index: 200;
    width: 100%;
    align-items: center;
    margin: 15px 0 20px 0;
}

.speed-particle .header-particle h3,
.speed-particle-init .header-particle h3,
.partitcle-size .header-size h3,
.particle-opacity .header-opacity h3{
    color: black;
}

.speed-particle-init {
    position: relative;
    z-index: 200;
    opacity: 1;
    width: 100%;
    align-items: center;
    margin: 15px 0 20px 0;
}

.particle-size,
.particle-opacity {
    position: relative;
    z-index: 200;
    opacity: 1;
    width: 100%;
    align-items: center;
    margin: 15px 0 20px 0;
}

.particles {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.setting-init,
.setting-init-2,
.setting-size,
.setting-opacity {
    padding-top: 20px;
}

.setting-init input[type="range"],
.setting-init-2 input[type="range"],
.setting-size input[type="range"],
.setting-opacity input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    width: 100%;
    height: 8px;
    background: linear-gradient(to right, #3264fe 50%, #d5d5d5 50%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 8px;
    outline: none;
    transition: background 0.3s ease;
}

.setting-init input[type="range"]::-webkit-slider-runnable-track,
.setting-init-2 input[type="range"]::-webkit-slider-runnable-track,
.setting-size input[type="range"]::-webkit-slider-runnable-track,
.setting-opacity input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 8px;
}

.setting-init input[type="range"]::-moz-track,
.setting-init-2 input[type="range"]::-moz-track,
.setting-size input[type="range"]::-moz-track,
.setting-opacity input[type="range"]::-moz-track {
    -moz-appearance: none;
    height: 8px;
}

.setting-init input[type="range"]::-ms-track,
.setting-init-2 input[type="range"]::-ms-track,
.setting-size input[type="range"]::-ms-track,
.setting-opacity input[type="range"]::-ms-track {
    appearance: none;
    height: 8px;
}

.setting-init input[type="range"]::-webkit-slider-thumb,
.setting-init-2 input[type="range"]::-webkit-slider-thumb,
.setting-size input[type="range"]::-webkit-slider-thumb,
.setting-opacity input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: #3264fe;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
    border: none;
}

.setting-init input[type="range"]::-moz-range-thumb,
.setting-init-2 input[type="range"]::-moz-range-thumb,
.setting-size input[type="range"]::-moz-range-thumb,
.setting-opacity input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: #3264fe;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
    border: none;
}

.setting-init input[type="range"]::-ms-thumb
.setting-init-2 input[type="range"]::-ms-thumb,
.setting-size input[type="range"]::-ms-thumb,
.setting-opacity input[type="range"]::-ms-thumb {
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: #3264fe;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
    border: none;
}

.setting-init input[type="range"]:active::-webkit-slider-thumb,
.setting-init-2 input[type="range"]:active::-webkit-slider-thumb,
.setting-size input[type="range"]:active::-webkit-slider-thumb,
.setting-opacity input[type="range"]:active::-webkit-slider-thumb {
    background-color: #ffffff;
    border: 3px solid #3264fe;
}

.speed-particle-init .header-particle,
.particle-size .header-size,
.particle-opacity .header-opacity{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.speed-particle .header-particle{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.color-box .header-particle{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#slider-value,
#slider-value-init,
.icon-po,
#slider-value-size,
#slider-value-opacity{
    width: 40px;
    height: 40px;
    position: relative;
    background-color: #3264fe;
    color: #ffffff;
    text-align: center;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 600;
    padding: 10px 0;
    border-radius: 50%;
}
