.setting-popup{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    inset: 0;
    border-radius: var(--bs-border-radius-xl)!important;
}

.badge{   
    align-items: center!important;
    cursor: pointer!important;
    position: relative; /* Needed for positioning tooltip */
    padding: 10px; /* Add padding to give space for tooltip */
}

.colored-btn {
    font-weight: 500;
    background-color: #fff2b2;
    color: #db7c26;
    padding: 10px;
    border-radius: 5px;
    font-size: 13px;
}

.swiper-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: var(--bs-border-radius-xl);
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    max-width: 100%;
    height: auto;
}
.work-card{
    background: #F4F0FA;
}

.activity-chart{
    height: 320px!important;
}

.bottom-container-skill-ui{
    display: flex;
    gap: 20px;
    padding: 1rem 1rem 0;
}

.bottom-container-skill-ui .prog-status-skill-ui,
.bottom-container-skill-ui .upcoming-ui{
    background-color: var(--body-color);
    padding: 20px;
    border-radius: 15px;
}

.bottom-container-skill-ui .prog-status-skill-ui{
    padding: 20px 0;
}

.bottom-container-skill-ui .prog-status-skill-ui{
    width: 80%;
    overflow: hidden;
}

.bottom-container-skill-ui .upcoming-ui{
    width: 25%;
    overflow: hidden;
}

.bottom-container-skill-ui .prog-status-skill-ui .header-event-ui,
.bottom-container-skill-ui .upcoming-ui .header-event-ui{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.bottom-container-skill-ui .prog-status-skill-ui .header-event-ui .event-judul-init-ui,
.bottom-container-skill-ui .upcoming-ui .header-event-ui .event-judul-init-ui{
    font-weight: 600;
}

.bottom-container-skill-ui .prog-status-skill-ui .header-event-ui .tabs,
.bottom-container-skill-ui .upcoming-ui .header-event-ui .tabs{
    background: var(--first-color-light);
    padding: 4px;
    border-radius: 5px;
    display: flex;
    gap: 5px;
}

.bottom-container-skill-ui .prog-status-skill-ui .header-event-ui .tabs a,
.bottom-container-skill-ui .upcoming-ui .header-event-ui .tabs a{
    padding: 4px 5px;
    font-size: 12px;
    color: #000;
    font-weight: 600;
    border-radius: 5px;
}

.bottom-container-skill-ui .prog-status-skill-ui{
    background: none;
    border-radius: var(--bs-border-radius-xl);
    padding-bottom: 10px;
}

.bottom-container-skill-ui .prog-status-skill-ui .status .header-init-skill{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.bottom-container-skill-ui .prog-status-skill-ui .status .header-init-skill h4{
    color: #000;
    font-weight: 500;
}

.bottom-container-skill-ui .prog-status-skill-ui .status .header-init-skill h4#big{
    flex: 3;
}

.bottom-container-skill-ui .prog-status-skill-ui .status .header-init-skill h4#small{
    flex: 1;
    padding-left: 90px;
}

.bottom-container-skill-ui .prog-status-skill-ui .status .item-list-init-skill{
    display: flex;
    align-items: center;
    gap: 14px;
}

.bottom-container-skill-ui .upcoming-ui .item-init-skill{
    background: #f1f3f2;
    padding: 10px;
    border-radius: 10px;
}

.bottom-container-skill-ui .prog-status-skill-ui .status .item-list-init-skill .item-init-skill{
    background: #e0f2fe;
    width: 25%;
    padding: 20px;
    border-radius: 10px;
}

.bottom-container-skill-ui .prog-status-skill-ui .status .item-list-init-skill .item-init-skill:nth-child(2){
    background: #fffbeb;
}

.bottom-container-skill-ui .prog-status-skill-ui .status .item-list-init-skill .item-init-skill:nth-child(3){
    background: #bfdbfe;
}

.bottom-container-skill-ui .prog-status-skill-ui .status .item-list-init-skill .item-init-skill:nth-child(4){
    background: #709f9d;
}

.bottom-container-skill-ui .prog-status-skill-ui .status .item-list-init-skill .item-init-skill .info-skill{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 40px;
}

.bottom-container-skill-ui .prog-status-skill-ui .status .item-list-init-skill .item-init-skill .info-skill h5{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.bottom-container-skill-ui .prog-status-skill-ui .status .item-list-init-skill .item-init-skill .info-skill p{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0px;
}

.bottom-container-skill-ui .prog-status-skill-ui .status .item-list-init-skill .item-init-skill .info-skill i{
    font-size: 20px;
    padding: 10px;
    background: #031224;
    color: #f1f3f2;
    border-radius: 50%;
}

.bottom-container-skill-ui .prog-status-skill-ui .status .item-list-init-skill .item-init-skill .progress-init-skill,
.bottom-container-skill-ui .prog-status-skill-ui .status .item-list-init-skill .item-init-skill .progress-init-skill-ui{
    position: relative;
    height: 10px;
    background: #b7c0cd;
    border-radius: 10px;
}

.bottom-container-skill-ui .prog-status-skill-ui .status .item-list-init-skill .item-init-skill .progress-init-skill .bar-init-skill{
    width: 60%;
    height: 10px;
    background: #031224;
    border-radius: 10px;
}

.bottom-container-skill-ui .prog-status-skill-ui .status .item-list-init-skill .item-init-skill .progress-init-skill-ui .bar-init-skill-ui{
    width: 30%;
    height: 10px;
    background: #031224;
    border-radius: 10px;
}

.bottom-container-skill-ui .prog-status-skill-ui .status .item-list-init-skill .item-init-skill .progress-init-skill::before{
    content: "60%";
    position: absolute;
    top: -40px;
    right: 0;
    font-size: 22px;
    font-weight: 600;
}

.bottom-container-skill-ui .prog-status-skill-ui .status .item-list-init-skill .item-init-skill .progress-init-skill-ui::before{
    content: "30%";
    position: absolute;
    top: -40px;
    right: 0;
    font-size: 22px;
    font-weight: 600;
}

.bottom-container-skill-ui .prog-status-skill-ui .status .item-list-init-skill .item-init-skill:nth-child(2) .progress-init-skill{
    background: #b7c0cd;
}

.bottom-container-skill-ui .prog-status-skill-ui .status .item-list-init-skill .item-init-skill:nth-child(2) .progress-init-skill-ui{
    background: #8993be;
}

.bottom-container-skill-ui .prog-status-skill-ui .status .item-list-init-skill .item-init-skill:nth-child(2) .progress-init-skill .bar-init-skill{
    width: 65%;
}

.bottom-container-skill-ui .prog-status-skill-ui .status .item-list-init-skill .item-init-skill:nth-child(2) .progress-init-skill-ui .bar-init-skill-ui{
    width: 25%;
}

.bottom-container-skill-ui .prog-status-skill-ui .status .item-list-init-skill .item-init-skill:nth-child(2) .progress-init-skill::before{
    content: "65%";
}

.bottom-container-skill-ui .prog-status-skill-ui .status .item-list-init-skill .item-init-skill:nth-child(2) .progress-init-skill-ui::before{
    content: "25%";
}

.bottom-container-skill-ui .prog-status-skill-ui .status .item-list-init-skill .item-init-skill:nth-child(3) .progress-init-skill{
    background: #94a3b8;
}

.bottom-container-skill-ui .prog-status-skill-ui .status .item-list-init-skill .item-init-skill:nth-child(3) .progress-init-skill-ui{
    background: #94a3b8;
}

.bottom-container-skill-ui .prog-status-skill-ui .status .item-list-init-skill .item-init-skill:nth-child(3) .progress-init-skill .bar-init-skill{
    width: 40%;
}

.bottom-container-skill-ui .prog-status-skill-ui .status .item-list-init-skill .item-init-skill:nth-child(3) .progress-init-skill-ui .bar-init-skill-ui{
    width: 15%;
}

.bottom-container-skill-ui .prog-status-skill-ui .status .item-list-init-skill .item-init-skill:nth-child(3) .progress-init-skill::before{
    content: "40%";
}

.bottom-container-skill-ui .prog-status-skill-ui .status .item-list-init-skill .item-init-skill:nth-child(3) .progress-init-skill-ui::before{
    content: "15%";
}

.bottom-container-skill-ui .prog-status-skill-ui .status .item-list-init-skill .item-init-skill:nth-child(4) .progress-init-skill .bar-init-skill{
    width: 50%;
}

.bottom-container-skill-ui .prog-status-skill-ui .status .item-list-init-skill .item-init-skill:nth-child(4) .progress-init-skill::before{
    content: "50%";
}

.bottom-container-skill-ui .prog-status-skill-ui .status .item-list-init-skill .item-init-skill:nth-child(4) .progress-init-skill-ui .bar-init-skill-ui{
    width: 10%;
}

.bottom-container-skill-ui .prog-status-skill-ui .status .item-list-init-skill .item-init-skill:nth-child(4) .progress-init-skill-ui::before{
    content: "10%";
}

@media screen and (max-width: 1080px){
    .bottom-container-skill-ui .prog-status-skill-ui .status .item-list-init-skill{
        flex-wrap: wrap;
    }
    .bottom-container-skill-ui .prog-status-skill-ui .status .item-list-init-skill .item-init-skill{
        width: 48%;
    }
    .bottom-container-skill-ui{
        flex-wrap: wrap;
    }
    .bottom-container-skill-ui .prog-status-skill-ui{
        width: 100%;
    }
    .bottom-container-skill-ui .upcoming-ui{
        width: 100%;
        height: 450px;
    }
}

@media screen and (max-width: 450px){
    .bottom-container-skill-ui .prog-status-skill-ui .status .item-list-init-skill{
        zoom: .7;
    }
}

@media screen and (max-width: 768px){
    .bottom-container-skill-ui .prog-status-skill-ui,
    .bottom-container-skill-ui .upcoming-ui{
        width: 100%;
    }
}